# ============================================================
# INFRAESTRUTURA COMPARTILHADA
# ============================================================
KEYCLOAK_CLIENT_SECRET_API_GATEWAY=
KEYCLOAK_INTERNAL_URL=
KEYCLOAK_EXTERNAL_URL=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_URL=
KEYCLOAK_PORT=
FRONTEND_URL=
EUREKA_SERVER_URL=
EUREKA_CLIENT_REGISTER_WITH_EUREKA=
EUREKA_CLIENT_FETCH_REGISTRY=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONNECT_PORT=
LOGSTASH_HOST=
LOGSTASH_PORT=
MAIL_HOST=
MAIL_PORT=
MAIL_REPLY_TO=
MAIL_USERNAME=
MAIL_PASSWORD=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=

SPRING_PROFILES_ACTIVE=

# ============================================================
# USER-SERVICE
# ============================================================
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=
USER_SERVICE_DB_PORT=
SPRING_DATASOURCE_URL_USER=
KEYCLOAK_CLIENT_SECRET_USER_SERVICE=
USER_SERVICE_PORT=
USER_SERVICE_DB_URL=
USER_SERVICE_S3_BUCKET_NAME=
USER_SERVICE_REDIS_HOST=
USER_SERVICE_REDIS_PORT=

# ============================================================
# PAYMENT-SERVICE
# ============================================================
ABACATEPAY_API_BASE_URL=
ABACATEPAY_API_KEY=
KAFKA_BOOTSTRAP_SERVERS=
PAYMENT_SERVICE_POSTGRES_PASSWORD=
PAYMENT_SERVICE_POSTGRES_POSTGRES_USER=
PAYMENT_SERVICE_PORT=
PAYMENT_SERVICE_POSTGRES_PORT=
PAYMENT_SERVICE_POSTGRES_DB=

# ============================================================
# NOTIFICATION-SERVICE
# ============================================================
NOTIFICATION_SERVICE_POSTGRES_DB=
NOTIFICATION_SERVICE_POSTGRES_PASSWORD=
NOTIFICATION_SERVICE_POSTGRES_USER=
NOTIFICATION_SERVICE_PORT=
NOTIFICATION_SERVICE_POSTGRES_PORT=

# ============================================================
# TRANSACTION-SERVICE
# ============================================================
TRANSACTION_SERVICE_PORT=
TRANSACTION_SERVICE_DB_USER=
TRANSACTION_SERVICE_DB_PASSWORD=
TRANSACTION_SERVICE_DB_PORT=
TRANSACTION_SERVICE_DB_URL=

# ============================================================
# LISTING-SERVICE
# ============================================================
LISTING_SERVICE_ELASTIC_PORT=
LISTING_SERVICE_PORT=
LISTING_SERVICE_ELASTIC_URI=

# ============================================================
# REPORT-SERVICE
# ============================================================
REPORT_SERVICE_DB_PASSWORD=
REPORT_SERVICE_DB_PORT=
REPORT_SERVICE_PORT=
REPORT_SERVICE_DB_USER=

# ============================================================
# REVIEW-SERVICE
# ============================================================
REVIEW_SERVICE_PORT=
SPRING_DATASOURCE_URL_REVIEW=
REVIEW_SERVICE_DB_USER=
REVIEW_SERVICE_DB_PASSWORD=
REVIEW_SERVICE_DB_PORT=
GEMINI_API_KEY=

# ============================================================
# AUCTION-SERVICE
# ============================================================
AUCTION_SERVICE_S3_ENDPOINT=
AUCTION_SERVICE_S3_BUCKET_NAME=
AUCTION_SERVICE_POSTGRES_USER=
AUCTION_SERVICE_POSTGRES_PASSWORD=
AUCTION_SERVICE_POSTGRES_PORT=
AUCTION_SERVICE_PORT=

# ============================================================
# QA-SERVICE
# ============================================================
QA_SERVICE_PORT=
QA_SERVICE_DB_USER=
QA_SERVICE_DB_PASSWORD=
QA_SERVICE_DB_PORT=
QA_SERVICE_REDIS_PORT=
QA_SERVICE_REDIS_HOST=